label {
	margin: 20px 0;
}

.badge {
	background-color: #337ab7 !important;
	padding: 3px 20px !important;
	font-size: 15px !important;
	border-radius: 10px !important;
	margin: 20px 0;
}

#formButton {
	margin-top: 20px;
	margin-bottom: 10rem;
}

#selectText {
	font-size: 12px;
	font-weight: 600;
}

footer {
	background-color: #e4e4e4;
	color: #545454;
	font-size: 10px;
	padding-top: 10px;
}

